.wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.mainTitle{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.validationArea{
    max-width: 330px;
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.mat-form-field{
    display: inline;
}
.mat-raised-button{
    max-width: 30%;
}