<a routerLink="/auth/login">&lt;&lt;Back to Login</a>
<div class='wrapper'>
    <div class='mainTitle'>
    <h2>Forgot Your Password?</h2>
    <h3>To reset your password, please enter your TeamSkills email/username.<br>TeamSkills will send the password reset instructions to the email address for this account.</h3>
    </div>
    <div class="validationArea">
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>
    <button mat-raised-button [disabled]="this.email.errors" (click)='getRestorePassword()'>Submit</button>
    </div>
</div>