.wrapper{
    max-width: 330px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.mat-form-field{
    display: inline;
}
.mat-raised-button{
    max-width: 30%;
    
}
.submitButton{
    display: flex;
    justify-content: flex-end;
}
.errorServerMessage{
    color: red;
}