<a routerLink="/auth/login">&lt;&lt;Back to Login</a>
<div class='wrapper'>
    <h2>Enter new password:</h2>
    <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput [formControl]="password" [type]="hide ? 'password' : 'text'" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Password Confirm</mat-label>
        <input matInput [formControl]="passwordConfirm" [type]="hide ? 'password' : 'text'" required>
        <mat-error *ngIf="isInvalidPass()">Password is not the same</mat-error>
    </mat-form-field>
    <p class="errorServerMessage" *ngIf='errorServerMessage != null'>{{errorServerMessage}}</p>
    <button mat-raised-button [disabled]="this.password.errors" (click)='submitNewPassword()'>Submit</button>
</div>
